<h3>Subscribed Books</h3>
<table border="1" *ngIf="newbooks.length>0">
    <thead>
        <tr>
            <th>BookId</th>
            <th>BookName</th>
            <th>Category</th>
            <th>Price</th>
            <th>Author</th>
            <th>Block</th>
            <th>Subscribe</th>
            <th>Publisher</th>
            <th>PublishedDate</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let b of newbooks;let i=index">
        <td>{{b.bookId}}</td>
        <td>{{b.bookName}}</td>
        <td>{{b.category}}</td>
        <td>{{b.price}}</td>
        <td>{{b.author}}</td>
        <td>{{b.block}}</td>
        <td>{{b.subscribe}}</td>
        <td>{{b.publisher}}</td>
        <td>{{b.publishedDate}}</td>
        
    </tr>
    </tbody>
  </table>
